extends layout

block content
    style
        body{ background: #fff; }

    <div id="blackbar"></div>
    <div id="wrapper">

    <div id="tab">
    <a href="/"><i class="fa fa-long-arrow-left"></i><span>Back to chat</span></a>
    </div>

    <div id="content">
    <h1>What is Chatup:</h1>
    <p>Chatup is a web application with a TUI (text-based user interface) concept.</p>
    </div>

    <div id="content">
    <h1>How to use comands:</h1>
    <p></p>
    </div>

    <div id="content">
    <h1>Commands List:</h1>
    <p><b>/clear</b> - Clear the chat output.</p>
    <p><b>/help</b> - Provides help information for commands.</p>
    <p><b>/joinrrom</b> - Join to a room if exist ele create new room.</p>
    <p><b>/leave</b> - Go to #public room.</p>
    <p><b>/rooms</b> - Show all public rooms in server</p>
    <p><b>/users</b> - Show all users connected to the server</p>
    </div>


    <div id="content">
    <h1>Creating room:</h1>
    <p>Execute the command <b>/joinroom {roomname}</b>, your room will be created if there is no room with the same name, if not joins the room name</p>
    </div>

    <div id="content">
    <h1>Navigate through bash command history</h1>
    <p>Use the keys <b>Up</b> or <b>Down</b> to navigate through bash command history</p>
    </div>

    <div id="content">
    <h1><i class="fa fa-github"></i><a href="https://github.com/nmspf1/chatup" target="_blank"> Github Project</a></h1>
    </div>
    <br>
    <br>
    <br>
    </div>