extends layout

block content
    style
        body{ background: #fff; }

    <div id="blackbar">
    </div>
    <div id="wrapper">
    <div id="tab">
    <a href="/"><i class="fa fa-long-arrow-left"></i><span>Back to chat</span></a>
    </div>
    <div id="content">
    <h1>What is Chatup:</h1>
    <p>Chatup is a web application based on ms-dos</p>
    </div>
    <div id="content">
    <h1>Commands List:</h1>
    <p><b>/clear</b> - Clear the chat output.</p>
    <p><b>/help</b> - Provides help information for commands.</p>
    <p><b>/joinrrom</b> - Join to a room if exist ele create new room.</p>
    <p><b>/leave</b> - Go to #public room.</p>
    <p><b>/rooms</b> - Show all public rooms in server</p>
    <p><b>/users</b> - Show all users connected to the server</p>
    </div>
    <div id="content">
    <h1>How to use comands:</h1>
    <p>To use a command must start with <b>/</b> but Are only accepted the commands listed in the list of commands.</p>
    <p>If you enter a command that does not belong to the list, will receive a notification.</p>
    </div>
    <div id="content">
    <h1>Creating room:</h1>
    <p><b>1</b> - Set a Nickname</p>
    <p><b>2</b> - Execute the command <b>/joinroom roomname</b>.</p>
    <p><b>3</b> - Your room will be create if there is no.</p>
    </div>
    </div>