extends layout

block content

    #roomname

    #sideBar

    ul.auth-menu

        li.right
            a(href="javascript: chat.showSidebar('About', 'Dramatically deploy corporate niche markets after collaborative bandwidth. Rapidiously seize orthogonal synergy whereas worldwide intellectual capital. Intrinsicly pursue real-time experiences with resource-leveling value. <br> <br> <b>Developed and designed by:</b><br> Nuno Fernandes and Renato Mauricio', null, true, 'none');") about

        li.right
            a(href="/help") help

    #notifications

    .container
        .content-console
            .piece.output
                #console_output
                #console_input
                #console_cursor _